@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

/* || RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Unbounded', sans-serif;
}

input, button, textarea {
    font: inherit;
}

/* || UTILITIES */
.center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

/* || VARIABLES */
:root {

    /* FONTS */
    --LARGE-FONT: 4rem;
    --MEDIUM-FONT: 3rem;
    --SMALL-FONT: 1.5rem;
    
    /* COLORS */
    --BG-COLOR: 
    --FONT-COLOR: 

    /* BORDERS */

    /* STANDARD PADDING */
    --PADDING: 2em;

    /* STANDARD MARGIN */


}

/* || GENERAL STYLES */
html {
    scroll-behavior: smooth;
}

body {
    background-color: #edf2f4;
    color: #2b2d42;
}

h1 {
    font-size: var(--LARGE-FONT);
}

h2 {
    font-size: var(--MEDIUM-FONT);
}

h3 {
    font-size: var(--SMALL-FONT);
}

p {
    font-size: 1rem;
    font-weight: 300;
}

hr {
    margin-top: 1em;
}

.container {
    background-color: #8d99ae;
    color: #edf2f4;
    padding: 2em;
    border-radius: 2em;
    width: 85%;
    margin: 0 auto;
}

.submit {
    border: none;
    background-color: #ef233c;
    padding: 0.5em;
    border-radius: 1em;
    margin-top: 1em;
    transition: 0.4s ease;
}

.submit:hover {
    background-color: #d80032;
    color: #edf2f4;
    transform: scale(1.1);
    transition: 0.4s ease;
}

form {
    margin: 2em auto;
    width: 30em;
}

.form-group {
    display: flex;
    justify-content: space-between;
    color: #2b2d42;
    font-size: large;
    margin-bottom: 1.5em;
    flex-wrap: wrap;
    
}

input {
    border: none;
    border-bottom: 2px solid #2b2d42;
    background-color: #edf2f4;
    height: 2em;
}

input:focus {
    transform: scale(1.1);
}

.mad-lib {
    width: 20em;
    margin: 2em auto;
}

strong {
    color: #2b2d42;
}